/*统一浏览器默认样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button, input, textarea,th, td{margin:0;padding:0;}
body,button, input, select, textarea {margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
ul, ol,li {list-style:none;}
a {text-decoration:none;color:#000;}
a:hover {text-decoration:underline;color:#0092ff;}
img {border:0;border:none;}
button, input, select, textarea{font-size:100%;} 
html,body{width:100%;}
body {font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;background: #f6f7f9;font-size: 14px;}
body a{outline:none;blur:expression(this.onFocus=this.blur());}
/*定义清除浮动样式*/
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
.clearfix{*zoom:1;}
.floor{width:990px; margin:0 auto;}
/*面包屑*/
.mbx{height:42px; line-height:42px; color:#333333;}
.mbx a{color:#333333; margin:0 5px;}
/*列表内容*/
.list_content{width:988px; margin:0 auto; border:solid 1px #e3e3e3; 
	background:url(//www.rong360.com/static/img/credit/cms/listbg1.jpg) 740px top repeat-y #f7f7f7; overflow:hidden;}
.list_content_l{width:740px; float:left; border-right:solid 1px #cccccc; background:#fff;}
.list_content_l .b_tit{ font-size:22px; color:#555555; margin:20px 20px 0;
line-height:60px; height:60px; border-bottom:solid 1px #4072d7;}
.list_content_l .content li{ padding:15px 20px; border-bottom:solid 1px #e3e3e3;}
.list_content_l .content li.hover{background:#f6f6f6;}
.list_content_l .content .img{float:left; margin-right:20px; width:199px; height:130px;}
.list_content_l .content .b_txt{ float:left; width:478px;}
.list_content_l .content .s_tit{ font-size:18px; color:#222222;}
.list_content_l .content .from_date{ color:#999999; margin:10px 0;}
.list_content_l .content .s_txt{text-indent:2em; line-height:25px;}
.list_content_l .content .keyword_share{ margin-top:10px;}
.list_content_l .content .keyword{ float:left; display:none;}
.list_content_l .content .keyword span{color:#fff; background:#999; padding:2px 5px;}
.list_content_l .content .keyword a{background:#4ec2f8;margin-right:2px;color:#fff; padding:2px 5px;}
.list_content_l .content .keyword a:hover{background:#28afee;}
.list_content_l .content .share{float:right;}
.list_content_l .page_list{height:90px; line-height:90px; text-align:center; color:#b2b2b2;}
.list_content_l .page_list span{color:#fc263f;}
.list_content_l .page_list a,.list_content_l .page_list span.current-page{border:solid 1px #ebebeb; padding:3px 8px; color:#848484; font-size:14px;font-weight:800px; margin-right:5px;}
.list_content_l .page_list a:hover,.list_content_l .page_list span.current-page{background:#2069e3; border:solid 1px #0a51c0; color:#fff;}
.list_content_l .page_bottom_gg{text-align:center;}
.list_content_l .topic_tit{height:40px; line-height:40px;background:#f8f8f8;font-size:16px;color:#0055bb;border-top:solid 1px #e8e8e8; border-bottom:solid 1px #e8e8e8; padding:0 20px;margin:20px 0;}
.list_content_l .topic_list{width:740px; overflow:hidden;}
.list_content_l .topic_list li{width:145px; overflow:hidden;float:left;display:inline;margin:0 19px 30px;}
.list_content_l .topic_list li img{display:block;margin-bottom:5px;width:145px; height:95px;}
.list_content_l .topic_list li p{height:37px; overflow:hidden;cursor:pointer;}
.list_content_r{width:217px; float:left; margin:0 15px; overflow:hidden;}
.list_content_r .b_tit{margin-top:30px; padding-bottom:5px; border-bottom:solid 2px #ababab;}
.list_content_r .b_tit .p1{font-size:16px; font-weight:800; float:left; color:#555555;}
.list_content_r .b_tit .more{float:right; margin-top:5px;}
.list_content_r .hot_keyword{margin-top:15px;}
.list_content_r .hot_keyword table{width:100%; text-align:center;}
.list_content_r .hot_keyword table a{color:#fff;font-size:14px; display:block; text-decoration: none;}
.list_content_r .hot_keyword .td0{height:30px; background:#9600ff;}
.list_content_r .hot_keyword .td1{height:30px; background:#a0c600;}
.list_content_r .hot_keyword .td2{height:30px; background:#3ec5e8;}
.list_content_r .hot_keyword .td3{height:30px; background:#e63437;}
.list_content_r .hot_keyword .td4{height:30px; background:#fc4e44;}
.list_content_r .hot_keyword .td5{height:30px; background:#523152;}
.list_content_r .hot_keyword .td6{height:30px; background:#2d98ff;}
.list_content_r .hot_keyword .td7{background:#95b300;}
.list_content_r .hot_keyword .td8{background:#3c9eff;}
.list_content_r .hot_keyword .td9{height:30px; background:#f6bf00;}
.list_content_r .click_list{padding-top:5px;}
.list_content_r .click_list li{height:26px; line-height:26px; overflow:hidden;}
.list_content_r .click_list li a{color:#333333;}
.list_content_r .click_list li a:hover{color:#0092ff;}
.list_content_r .click_list_gg{margin:10px 0 0;text-align:center;}
/*详情页*/
.detail_content{width:988px; margin:0 auto; border:solid 1px #e3e3e3; 
	background:url(//www.rong360.com/static/img/credit/cms/listbg1.jpg) 740px top repeat-y #f7f7f7; overflow:hidden;}
.detail_content_l{width:740px; float:left; border-right:solid 1px #cccccc; background:#fff;}
.detail_content_l .b_tit{ font-size:22px; color:#555555; margin:30px 20px 0; padding-bottom:5px;}
.detail_content_l .b_tit span{color:#999999; font-size:12px; margin-right:20px;}
.detail_content_l .txt{padding:0 20px 0; font-size:14px; line-height:29px; font-size:16px;}
.detail_content_l .txt p{margin-top:20px;}
.detail_content_l .share{padding:10px 20px 10px;}
.detail_content_l .clearfix img{width:80px; height:80px;}
.detail_content_l #bdshare{float:right;}
.detail_content_l .keyword{ float:left;}
.detail_content_l .keyword a{background:#4ec2f8;margin-right:2px;color:#fff; padding:2px 5px;}
.detail_content_l .keyword a:hover{background:#28afee;}
/*详情页_相关推荐*/
.detail_content_l .related{margin:0 20px 10px;}
.detail_content_l .related_tit{font-size:16px; font-weight:800; margin-top:10px; margin-bottom:10px; padding-bottom:10px; border-bottom:solid 1px #555555;}
.detail_content_l .related_tab_tit{border-bottom:solid 2px #28afee; margin:10px 0;}
.detail_content_l .related_tab_tit li{float:left; margin-right:3px; padding:3px 5px; background:#4ec2f8; color:#fff; position:relative;}
.detail_content_l .related_tab_tit li a{color:#fff;}
.detail_content_l .related_tab_tit li i{width:11px; height:5px; overflow: hidden; background: url(//www.rong360.com/static/img/credit/cms/jiao.jpg); position:absolute;
top:25px; _top:27px; left:40%; display: none;}
.detail_content_l .related_tab_tit li.hover{background:#28afee;}
.detail_content_l .related_tab_tit li.hover i{display: block;}
.detail_content_l .related_tab_content .none{display:none;}
.detail_content_l .related_tab_content li{font-family: 宋体; line-height: 24px;}
.detail_content_l .related_tab_content li a{margin-right:10px; font-family: "Microsoft Yahei", "微软雅黑";}
.detail_content_l .related_tab_content li span{color:#888888;}
.detail_content_l .related_bottom_gg{margin:0 20px 30px; padding-top:20px; border-top:solid 1px #e3e3e3;}
.detail_content_r{width:217px; float:left; margin:0 15px; overflow:hidden;}
.detail_content_r .b_tit{margin-top:30px; padding-bottom:5px; border-bottom:solid 2px #ababab;}
.detail_content_r .b_tit .p1{font-size:16px; font-weight:800; float:left; color:#555555;}
.detail_content_r .b_tit .more{float:right; margin-top:5px;}
/*推荐阅读*/
.detail_content_r .read{margin-top:10px;}
.detail_content_r .read img{float:left; margin-right:5px; width:90px; height:59px;}
.detail_content_r .read p{float:left; width:100%; line-height: 22px; height:22px; overflow:hidden;}
.detail_content_r .read_bottom_gg{margin-top:15px;}
/*申请排行榜*/
.detail_content_r .apply_list{margin-top:15px; background:#fff; padding:10px 0 10px;}
.detail_content_r .apply_list .first{padding:0 10px 10px;}
.detail_content_r .apply_list .first_l{width:100px; float:left; text-align:center;}
.detail_content_r .apply_list .first_l img{display:block; margin-top:5px; width:100px; height:63px;}
.detail_content_r .apply_list .first_r{width:95px; float: right; text-align:right; margin-top:20px; color:#666666;}
.detail_content_r .apply_list .first_r span{color:#ff6000;}
.detail_content_r .apply_list .second{height:26px; line-height: 26px;padding:0 8px 0;}
.detail_content_r .apply_list .second_l{float:left;width:107px; height:26px; overflow: hidden;}
.detail_content_r .apply_list .second_r{float:right;width:93px;text-align:right; color:#666666;}
.detail_content_r .apply_list .second_r span{color:#ff6000;}
.detail_content_r .apply_list .second .up_jian{padding-left:12px; background:url(//www.rong360.com/static/img/credit/cms/up-jian.jpg) left center no-repeat;}
.detail_content_r .apply_list .second .down_jian{padding-left:12px; background:url(//www.rong360.com/static/img/credit/cms/down-jian.jpg) left center no-repeat;}
/*优惠推荐*/
.detail_content_r .youhui{ margin-top:5px;}
.detail_content_r .youhui li{height:26px; line-height: 26px; overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}

.act-relevance{
    margin: 29px;
    padding-bottom: 20px;
}
.act-relevance li{
    margin: 10px 0;
}
.act-relevance a{
    padding-left: 10px;
    font-size: 14px;
    background-image: url(//www.rong360.com/static/cms/images/point-ie.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
}
.act-relevance span{
    color: #999999;
    display: block;
    padding-left: 10px;
    margin-top: 5px;
    line-height: 22px;
}

.content-left{
    height: auto;
    overflow: auto;
    zoom:1;
}
.content-body{
    padding: 0;
}
.tab-bar{
    overflow: auto;
    zoom:1;
    background-color: #eaf2fc;
}
.tab-bar ul{
    display: inline;
    position: relative;
}
.tab-bar li{
    float: left;
    font-size: 16px;
    font-weight: bold;
    width: 114px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-top: solid 1px #d7e4f4; 
    border-right: solid 1px #d7e4f4; 
    border-bottom: solid 1px #d7e4f4; 
}
.tab-bar li.active{
    background-color: #fff;
    border-bottom: solid 1px #fff;
    border-top: solid 2px #375aab;
    height: 33px;
    line-height: 33px;
}
.tab-bar li a{
    display: block;
    color: #6884c6;
}
.tab-bar li a:hover{
    background-color: #dfedff;
    color: #6884c6;
    text-decoration: none;
}
.tab-bar li.active a{
    color: #375aab;
}
.tab-bar li.active a:hover{
    background-color: #fff;
}
.more{
    width: 200px;
    line-height: 34px;
    float: right;
    border-top: solid 1px #d7e4f4; 
    border-bottom: solid 1px #d7e4f4; 
    text-align: right;
}
.more a{
    margin-right: 10px;
    color: #6884c6;
    text-decoration: underline;
}
.more a:hover{
     color:#0092ff;
}


#bottom-banner {
    background: #f2f7fd;
    bottom: 0;
    height: 55px;
    width: 989px;
    z-index: 2000;
    margin-left: auto;
    margin-right: auto; 
    border: solid 1px #d0ddef;
}
#bottom-banner.bottom-banner-maifang .bottom-banner-inner {
width: 989px;
}

#bottom-banner.bottom-banner-maifang{

}

#bottom-banner .bottom-banner-inner {
margin: 0 auto;
}
#bottom-banner #bottom_logo, #bottom-banner .btn, #bottom-banner .btn:hover, #bottom-banner .btn:active{
color: #333333;
text-decoration: none;
}
#bottom-banner #bottom_logo {
float: left;
height: 55px;
width: 167px;
background: #e0eaf9;
border-right: solid 1px #d0ddef;
text-align: center;
line-height: 55px;
font-weight: bold;
font-size: 18px;
color: #333333;
}
#bottom-banner .banner_content_txt {
margin: 0 0 0 20px;
padding-top: 20px;
float: left;
width: 710px;
color: #333;
font-size: 16px;
font-weight: bold;
}
#bottom-banner .banner_content_txt li{
    float: left;
    display: inline;
    margin: 0 20px;
}
#bottom-banner .banner_content_txt a, #bottom-banner .banner_content_txt a:active{
    display: block;
    color: #333;
    text-decoration: none;
}
#bottom-banner .banner_content_txt span{
background: url(/static/cms/images/bottom_icons.png) no-repeat;
padding: 5px 16px;
margin-right: 10px;
}
#bottom-banner .banner_content_txt span.bottom-icon-daikuan{
    background-position: 0px -68px;
}
#bottom-banner .banner_content_txt span.bottom-icon-xinyongka{
    background-position: -72px -68px;
}
#bottom-banner .banner_content_txt span.bottom-icon-fangdai{
    background-position: -144px -68px;
}
#bottom-banner .banner_content_txt span.bottom-icon-wenda{
    background-position: -216px -68px;
}
#bottom_open{
    padding: 5px 16px;
    background: url(/static/cms/images/bottom_icons.png) no-repeat 0px -104px;
    display: block;
    float: right;
    height: 20px;
    margin: 17px 10px 0 0;
}
.bottom-banner-inputs{
    background: #f2f7fd;
    bottom: 0;
    height: 185px;
    width: 989px;
    z-index: 2000;
    margin-left: auto;
    margin-right: auto; 
    border: solid 1px #d0ddef;
}
.botton-title, .botton-items, .botton-more{
    position: relative;
}
.bottom-banner-inputs .banner-title{
    display: inline;
    height: 55px;
    width: 167px;
    text-align: center;
    line-height: 55px;
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    margin-left: 10px;
}
.bottom-banner-inputs .banner-close{
    position: absolute;
    padding: 3px 10px;
    background: url(/static/cms/images/bottom_icons.png) no-repeat 0px -155px;
    right: 10px;
    height: 20px;
    margin: 17px 10px 0 0;
}
#bottom_inputs .banner-items{
    position: relative;
}
#bottom_inputs .banner-items li{
    float: left;
    display: inline;
    margin: 0 10px;
    width: 220px;
    vertical-align: top;
}
#bottom_inputs .banner-sub-items li{
    margin: 0px;
    width: 140px;
}
#bottom_inputs .banner-sub-items .item-title{
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
#bottom_inputs .banner-sub-items .app-star{
    color: #ec413c;
    font-size: 18px;
    font-weight: bold;
}
#bottom_inputs .banner-sub-items .app-hot{
    padding: 3px 16px;
    background: url(/static/cms/images/bottom_icons.png) no-repeat 0px -132px;
    margin-left: 10px;
}
#bottom_inputs a, #bottom_inputs a:active{
color: #333333;
text-decoration: none;
}
#bottom_inputs span.bottom-icon{
background: url(/static/cms/images/bottom_icons.png) no-repeat;
padding: 33px 33px;
*padding: 26px 33px;
_padding: 26px 33px;
margin-right: 10px;
float: left;
}
#bottom_inputs span.bottom-icon-daikuan{
    background-position: 0px 0px;
}
#bottom_inputs span.bottom-icon-xinyongka{
    background-position: -72px 0px;
}
#bottom_inputs span.bottom-icon-fangdai{
    background-position: -144px 0px;
}
#bottom_inputs span.bottom-icon-wenda{
    background-position: -216px 0px;
}
#bottom_inputs .bottom-more{
    float: left;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding-left: 10px;
    margin-top: 5px;
}
#bottom_inputs .bottom-more a{
    font-size: 16px;
    font-weight: normal;
    color: #6996de;
    padding-left: 10px;
}
#bottom-form{
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 1900;
}

/*20160612 文章页添加专栏信息*/
.view-author{background:#fafafa; border-top: solid 1px #ececec; border-bottom: solid 1px #ececec; padding:20px; margin-top:10px;}
.view-author .img{width:80px; height:80px; border-radius: 80px; float:left; margin-right:20px;}
.view-author .text{width:580px; float:left;}
.view-author .text span{float:left; color:#333333; font-size:16px;}
.view-author .text a{font-size:14px; color:#999999; float:right;}
.view-author .text p{font-size:14px; color:#999999; line-height: 24px; margin-top:8px;}
.bt_abs {
  margin-top: 19px;
  font-size: 14px;
  line-height: 26px;
  padding: 14px;
}
.bt_abs p {
  color: #333;
  font-size:18px;
  padding-left:10px;
  border-left:solid 3px #5e93eb;
  height:18px;
  line-height: 18px;
  margin-bottom:10px;
}
.bt_abs .bta_context{
  text-indent: 28px;
}
.bt_abs .bta_context span .key {
  color: #49acf8;
}