/*
 * Component:       Docs
 * Description:     Defines styles for the UIkit documentation
 ========================================================================== */


/* Fonts
 ========================================================================== */

body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a { font-family: "Proxima Nova", "Helvetica Neue", Helvetica,"PingFang SC","Microsoft YaHei","微软雅黑", Arial, sans-serif; }


/* Base
 ========================================================================== */

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ins {
    background: inherit;
    color: inherit;
    text-decoration:inherit;
}

/* Layout
 ========================================================================== */


.tm-background { background: #252525; }

/*
 * Blocks
 */

.tm-middle,
.tm-section,
.tm-footer { padding: 20px 0; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-middle,
    .tm-section,
    .tm-footer { padding: 20px 0; }

}

/* Large screen and bigger */
@media (min-width: 1220px) {

    .tm-middle,
    .tm-section,
    .tm-footer { padding: 20px 0; }

}


/*
 * Middle
 */

.tm-middle { background: #fff; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-sidebar {
        margin-right: -1px !important;
        border-right: 1px solid #E5E5E5;
    }

    .tm-main {
        padding-left: 50px !important;
        border-left: 1px solid #E5E5E5;
    }

    .tm-sidebar .uk-panel { padding-right: 20px; }

}

/*
 * Sections
 */

.tm-section .uk-heading-large { margin-bottom: 20px; }
.tm-section .uk-text-large { margin-bottom: 60px; }

.tm-section-color-1 { background: #2ba3d4 url("../images/bg_teaser.svg") 50% 50% no-repeat; }

/* Desktop and bigger */
@media (max-width: 959px) {

    .tm-section-color-1 { background-image: none; }

}

.tm-section-color-2 { background: #3dc0f1; }

.tm-section-colored,
.tm-section-colored h1,
.tm-section-colored h2,
.tm-section-colored a:not([class]) { color: #fff !important; }

.tm-section-color-2 a { text-decoration: underline; }

.tm-section-color-white { background: #fff; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-section-color-white .uk-grid-divider:not(:empty) > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) { border-left: 1px dashed #ddd; }
    .tm-section-color-2 .uk-grid-divider:not(:empty) > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) { border-left: 1px dashed rgba(255,255,255,0.4); }

}

/*
 * Header section
 */

.tm-logo { margin: 10px 0 20px 0; }

.tm-button-download {
    margin: -30px 0 15px 0;
    /* Style */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background: #fff;
    border: none;
    color: #2ba3d4 !important;
    /* Size */
    min-height: 50px;
    padding: 0 30px;
    line-height: 50px;
    font-size: 18px;
}

.tm-button-download:hover {
    background: #82cff0;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.tm-button-download:focus,
.tm-button-download:active {
    background: #2e93bc;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),
                inset 0 -1px 0px rgba(0,0,0,0.05),
                inset 1px 0px 0px rgba(0,0,0,0.05),
                inset -1px 0px 0px rgba(0,0,0,0.05);
    -webkit-transition: background-color .05s ease-in-out;
    transition: background-color .05s ease-in-out;
}

.tm-image-pull { margin-bottom: -10px; }

/*
 * Community
 */

.tm-margin-large-bottom { margin-bottom: 80px; }

.tm-panel-link,
.tm-panel-link:hover {
    text-decoration: none;
    color: #444;
}

.tm-panel-link {
    padding: 30px 30px 60px 30px;
    border: 1px solid #e5e5e5;
}

.tm-panel-link:after {
    content: "";
    display: none;
    position: absolute;
    height: 5px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    background: #0BA1D8;
}

.tm-panel-link:hover:after { display: block; }

.tm-panel-link:hover h2 { color: #0BA1D8; }

/* Only phones */
.tm-grid-margin-large .uk-grid-margin { margin-top: 50px; }

.tm-icon {
    position: relative;
    width: 80px;
    margin: -60px auto 0 auto;
    border-radius: 5px;
    background: #0BA1D8;
    line-height: 80px;
    color: #fff;
}

.tm-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: 10px solid #0BA1D8;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}

.tm-panel-link { -webkit-backface-visibility: hidden; }

.tm-panel-link:hover .tm-icon {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
}

/*
 * Footer
 */

.tm-footer .uk-subnav-line > li:before { border-color: #ddd; }

.tm-footer,
.tm-footer a { color: #666666 !important;  font-size: 12px;}


/* UIkit component modifiers
 ========================================================================== */

/*
 * Navbar
 */

.tm-navbar {
    padding: 8px 0;
    border: none;
    background: #F5F5F5;
}

.tm-navbar .uk-navbar-content,
.tm-navbar .uk-navbar-brand,
.tm-navbar .uk-navbar-toggle {
    height: 40px;
    margin-top: 0;
    text-shadow: none;
}

.tm-navbar .uk-navbar-nav > li > a {
    height: 40px;
    line-height: 40px;
    margin: 0;
    border: none;
    border-radius: 0px !important;
    text-shadow: none;
    font-size: 15px;
}

.tm-navbar .uk-navbar-nav > li { margin-left: 20px; }

/* Hover */
.tm-navbar .uk-navbar-nav > li:hover > a,
.tm-navbar .uk-navbar-nav > li > a:focus,
.tm-navbar .uk-navbar-nav > li.uk-open > a {
    background-color: #2BA3D4;
    color: #FFF;
}

/* Active */
.tm-navbar .uk-navbar-nav > li.uk-active > a {
    background-color: #2BA3D4;
    color: #FFF;
}

/* OnClick */
.tm-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }

/*
 * Nav
 */

.tm-nav > li > a { color: #777; line-height: 22px; }

/* Hover */
.tm-nav > li > a:hover,
.tm-nav > li > a:focus,
.tm-nav > li.uk-active > a  {
    background: #F5F5F5;
    color: #444;
}

/* Sub-object: `nav-header` */
.tm-nav .uk-nav-header {
    color: #222;
    font-weight: normal;
}

/*
 * Nav
 */

.tm-subnav > li:nth-child(n+2) { margin-left: 20px; }

/*
 * Article
 */

.tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
}
.uk-pagination>li.active>a{color:#B7BDC2;}

.artiles{}
.artiles p{margin: 0px;}
.artiles .article-item{ border-bottom: 1px solid #fff; margin: 0px auto 10px auto;padding: 4px 0px;}
.artiles .article-item h4{font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    _white-space: normal;
    text-overflow: ellipsis;
    margin: 4px  0px  0px  0px; }
.artiles .article-item h4 a{}
.artiles .user-info{margin-right: 8px;}
.artiles .wx-news-info{font-size: 12px;}
.artiles .user-logo-wrap{ overflow:hidden; display:inline-block; position: relative; margin-top: 4px; }
.artiles .user-logo{width:32px;   overflow:hidden; display:inline-block; border-radius:16px;}
.artiles .user-name{margin-top: 6px;  color: #606366;  line-height: 13px;   font-size: 12px;  margin-bottom: 6px;    word-break: break-all;}
.artiles .user-name a{ color: #606366; }
.artiles .ext{margin-left: 4px; color: #B7BDC2;}
.artiles .ico-vr {background: url(/resources/style/images/icon_verify_success_simple.png) 0 0 no-repeat; height:12px; width:12px; overflow:hidden; display:inline-block; vertical-align:text-bottom; } 
.articles em{font-style:normal;}

.wx-user-info .profile_desc_label{margin-right: 10px;}
.wx-user-info .ico-vr {background: url(/resources/style/images/icon_verify_success_12.png) 0 0 no-repeat; height:12px; width:12px; overflow:hidden; display:inline-block;  } 
.wx-user-info img.wx-qrcode{ width: 200px;}
.wx-user-info h4{font-size: 14px;}
.wx-user-info h2{font-size: 18px;}

.rel-articles{padding: 0px 0px; line-height: 30px;}

@media screen and (min-width:320px) {
	.rel-articles{padding: 0px 0px; line-height: 30px;}
}

@media screen and (min-width:1024px) {
	.rel-articles{padding: 0px 0px; line-height: 30px;}
}

.rel-articles a{color:#07d;}
.rel-articles h4 img{height: 20px;margin-right: 0px; vertical-align:top;}
.rel-articles h4 .ext{margin-left: 10px; color:#B7BDC2;font-size: 12px;}
.rel-articles .time{margin-left: 10px;color: #B7BDC2; display: inline-block;}
.wx-article-title {width:84%; display:inline-block;  font-size: 14px; line-height: 15px;  overflow: hidden; white-space: nowrap;  _white-space: normal;   text-overflow: ellipsis;}
.wx-article-title-right{width:100%; display:inline-block;  font-size: 14px; line-height: 22px;  overflow: hidden; white-space: nowrap;  _white-space: normal;   text-overflow: ellipsis;}

@media screen and (min-width:320px) {
	.wx-article-title {width:74%;}
}
@media screen and (min-width:1024px) {
	.wx-article-title {width:84%;}
}
.rich_media_area_primary .tip{ font-size: 12px; text-align: center; margin: 0px;font-size: 12px;}
.tm-sidebar{border: 0px;}

.user-list{}
.user-list  .user-logo{height:18px; width:auto;  overflow:hidden; display:inline-block; border-radius:9px; margin-right: 4px;}
.user-list  .ico-vr {background: url(/resources/style/images/icon_verify_success_simple.png) 0 0 no-repeat; height:12px; width:12px; overflow:hidden; display:inline-block; vertical-align:text-bottom; } 

.user-result{}
.user-result  .user-logo{height:56px; width:auto;  overflow:hidden; display:inline-block; border-radius:28px; margin-right: 10px;}
.user-result  .ico-vr {background: url(/resources/style/images/icon_verify_success_simple.png) 0 0 no-repeat; height:12px; width:12px; overflow:hidden; display:inline-block; vertical-align:text-bottom; } 

@media screen and (min-width:320px) {
	.uk-container {  padding: 0 15px;}
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle{ padding: 0px; }
.uk-panel-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    color: #444;
}
.uk-panel-title i, .tm-sidebar i, .uk-nav-offcanvas i{    margin-right: 4px; color:#1FA2D6;}
.uk-nav-offcanvas i{ color:#fff;}
.tm-sidebar i{ color:#777;}

.tags  ul li{line-height: 24px;}

.go-top{position:fixed; bottom: 10px; right: 10px; color:#1FA2D6;}
.go-top a,.go-top a:hover{color:#1FA2D6;}
.friend-link h3{font-size: 12px;}
.friend-link a{font-size: 12px; color:#B7BDC2;}

.artiles-new{font-size: 12px;}
.artiles-new p{margin: 0px;}
.artiles-new .article-item{ border-bottom: 1px solid #fff; margin: 0px auto 10px auto;padding: 4px 0px;}
.artiles-new .article-item h4, .rel-articles .article-item h4{font-size: 14px;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    _white-space: normal;
    text-overflow: ellipsis;
    margin: 4px  0px  0px  0px; }
.artiles-new .article-item h4 a{}
.artiles-new .user-info{margin-right: 8px;}
.artiles-new .wx-news-info{font-size: 12px; line-height:30px;}
.artiles-new .user-logo-wrap{ overflow:hidden; display:inline-block; position: relative; margin-top: 4px; }
.artiles-new .user-logo{width:20px;height:20px;overflow:hidden; display:inline-block; border-radius:10px;}
.artiles-new .user-name{margin-top: 6px;  color: #606366;  line-height: 13px;   font-size: 12px;  margin-bottom: 6px;    word-break: break-all;}
.artiles-new .user-name a{ color: #606366; }
.artiles-new .ext{margin-left: 10px; color: #B7BDC2;}
.artiles-new .ico-vr {background: url(/resources/style/images/icon_verify_success_simple.png) 0 0 no-repeat; height:12px; width:12px; overflow:hidden; display:inline-block; vertical-align:text-bottom; } 
.artiles-new em{font-style:normal;}

.wx-news-ext{font-size: 13px; max-height:56px; overflow: hidden; line-height: 22px;}
.user-articles .wx-news-ext{ margin-top: 10px;  max-height:68px; }

.cover-wrap{ overflow: hidden; text-align: center; }
.cover-wrap a{overflow: hidden; height: 105px; width: 140px; display:block; background:#f5f5f5; margin:auto;}
.cover{ vertical-align:middle; border-radius:0%; max-width:none;}

@media screen and (min-width:320px) {
	.cover-wrap{ text-align: left; margin-top: 10px; }
	.cover-wrap a{ text-align: left; height: 105px;  background:#f5f5f5; width: auto;}
	.wx-news-ext{font-size: 13px; max-height:40px; overflow: hidden; }
}
@media screen and (min-width:1024px) {
	.cover-wrap{text-align: center; margin-top: 0px;}
	.cover-wrap a{overflow: hidden; height: 105px; width: 140px; display:block; background:#f5f5f5; margin:auto;}
	.wx-news-ext{font-size: 13px; max-height:62px; overflow: hidden;}
}


.uk-navbar-toggle{color:#1FA2D6;}
.m-logo{width: 138px;}
.go-home{float: left; font-size: 19px;    height: 40px; margin-top: 0; color:#1FA2D6; display: none;}
.go-home i{ height: 40px;  line-height:40px;}
.uk-navbar-toggle{float: right;}

