#ShishanyuanSignature
{ 
border-top: #e0e0e0 1px dashed;
border-right: #e0e0e0 1px dashed;
border-bottom: #e0e0e0 1px dashed;
border-left: #e0e0e0 1px dashed;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 60px;
font-family: 微软雅黑;
font-size:12px;
background: url(http://www.cnblogs.com/images/cnblogs_com/shishanyuan/719346/t_flower5.png) #e5f1f4 no-repeat 1% 50%;
}
#ShishanyuanSignature div
{
line-height: 25px;
}
.box {
    border: 1px solid #E8E7D0;
    margin-bottom: 10px;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11pt;
}
.catListTitle, .boxtitle {
    padding-bottom: 5px;
    border-bottom: 1px solid #9BBB38;
    color: #9BBB38;
    font-family: 微软雅黑;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}