/* 弹窗优化 */
.fwin .t_l,.fwin .t_c,.fwin .t_r,.fwin .m_l,.fwin .m_r,.fwin .b_l,.fwin .b_c,.fwin .b_r, #mdly .fwin .t_r {display:none}
#mdly.fwinmask {z-index: 200 !important;}

.fwin .t_r{width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;display:inherit;opacity:0.7}
.m_c{z-index:1;position:relative;border-radius:5px}
.m_c h3.flb{background:#FDFDFD ;overflow: hidden;border-radius: 5px;font-size:16px;font-family:microsoft yahei,SimHei;font-weight:300;padding: 23px 0 15px 20px;}
.m_c h3.flb span {float: inherit;position: absolute;right: -45px;top: 0;}
.m_c h3.flb span a {background: url('image/pop_close.png');width: 35px;height: 36px;}
.m_c .flb em{font-size:15px;font-weight:300;color:#666666}
.m_c .o{height: inherit;background: none;margin-bottom: 20px;margin: 0 20px;border-top: 1px dashed #E8E8E8;height: 33px;line-height: 33px;}
.m_c .o.pns .pn{background:#0F6EBF;border:0;padding:6px 20px;border-radius:2px;box-shadow:none;height: 33px;line-height: 33px;color: #FFF;}
.m_c .o.pns .pn strong{font-weight:inherit;font-size:14px;font-family:microsoft yahei}
.m_c .c {padding: 0 40px 20px 40px;}
.m_c .c .tfm th {width: auto; padding-right: 20px;text-align: right;font-family: microsoft yahei;}
.m_c .c .tfm label, .m_c .c .tfm td {font-weight: 300;font-size: 14px;color: #666;vertical-align: middle;line-height: 30px;}
.m_c .c .tfm .pt, .m_c .c .tfm .px {border: 1px solid #E8E8E8;background: #FFFFFF;height: 30px;line-height: 30px;}
.m_c .c .tfm textarea {width: 330px;border: 1px solid #E8E8E8;background: #FFFFFF;}
.m_c .c .tfm th .rq {font-size: 12px;font-weight: 300;}
.m_c .c .tfm td input, .m_c .c .tfm td label {margin-right: 10px}
.m_c .c div.tips {color: #666;line-height: 24px}
.m_c .pm {width: auto}

/* 弹窗样式重写  */
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.2);
		-ms-transform: scale(0.2);
	}

	60% {
		opacity: 0.75;
		transform: scale(1.1);
		-ms-transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
		-ms-transform: scale(1);
	}
}

@-moz-keyframes pop {
	0% {
		opacity: 0;
		-moz-transform: scale(0.2);
	}

	60% {
		opacity: 0.75;
		-moz-transform: scale(1.1);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-webkit-keyframes pop {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.2);
	}

	60% {
		opacity: 0.75;
		-webkit-transform: scale(1.1);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-o-keyframes pop {
	0% {
		opacity: 0;
		-o-transform: scale(0.2);
	}

	60% {
		opacity: 0.75;
		-o-transform: scale(1.1);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes fastr {
	0% {
		opacity: 0;
		transform: translate(0,60px);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}

@-webkit-keyframes fastr {
	0% {
		opacity: 0;
		-webkit-transform: translate(0,60px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0,0);
	}
}

@-moz-keyframes fastr {
	0% {
		opacity: 0;
		-moz-transform: translate(0,60px);
	}

	100% {
		opacity: 1;
		-moz-transform: translate(0,0);
	}
}

@-o-keyframes fastr {
	0% {
		opacity: 0;
		-o-transform: translate(0,60px);
	}

	100% {
		opacity: 1;
		-o-transform: translate(0,0);
	}
}

@keyframes afastr {
	0% {
		opacity: 0;
		transform: translate(0,-60px);
	}

	67% {
		opacity: 1;
		transform: translate(0,0);
	}

	86% {
		opacity: 1;
		transform: translate(0,-2px);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}

@-webkit-keyframes afastr {
	0% {
		opacity: 0;
		-webkit-transform: translate(0,-60px);
	}

	67% {
		opacity: 1;
		-webkit-transform: translate(0,0);
	}

	86% {
		opacity: 1;
		-webkit-transform: translate(0,-2px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate(0,0);
	}
}

@-moz-keyframes afastr {
	0% {
		opacity: 0;
		-moz-transform: translate(0,-60px);
	}

	67% {
		opacity: 1;
		-moz-transform: translate(0,0);
	}

	86% {
		opacity: 1;
		-moz-transform: translate(0,-2px);
	}

	100% {
		opacity: 1;
		-moz-transform: translate(0,0);
	}
}

@-o-keyframes afastr {
	0% {
		opacity: 0;
		-o-transform: translate(0,-60px);
	}

	67% {
		opacity: 1;
		-o-transform: translate(0,0);
	}

	86% {
		opacity: 1;
		-o-transform: translate(0,-2px);
	}

	100% {
		opacity: 1;
		-o-transform: translate(0,0);
	}
}

.fwinmask {
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-name: pop;
	-webkit-animation-name: pop;
}



.fastpreview {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-name: afastr;
	-webkit-animation-name: afastr;
}




.avt {
	transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
}

.avt:hover {
	transform: scale(1.07);
	-webkit-transform: scale(1.07);
	-moz-transform: scale(1.07);
	-o-transform: scale(1.07);
}

#ls_username,#ls_password {
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
}

#ls_username:focus,#ls_password:focus {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}